{% extends "layout.twig" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Аутентификация</h1>

<form action="{{ url('auth.login') }}" method="POST">
  {{ form_widget(form) }}

  <input type="submit" name="submit" value="Войти"/>
</form>
{% endblock %}